<p class="action">
  <small class="text-muted"><%= a.created_at.strftime('%H:%M:%S %-d %B %Y') %></small><br/>
  <strong>
    <i class="fa fa-thumbs-up"></i>
    &nbsp;
    <% if activity.owner %>
      <%= link_to activity.owner.name, profile_path(activity.owner) %>
    <% else %>
      Deleted user
    <% end %>
  </strong>
  <% if a.trackable %>
    upvoted a <%= link_to "status", status_path(a.trackable) %>.
  <% else %>
    upvoted a status that no longer exists.
  <% end %>
</p>
