<div class="comment">
  <%= image_for(comment.user, :icon, 28) %> <!-- Find me in application_helper -->
  <%= name_for(comment.user) %>
  ~
  <%= comment.body %>

  <% if current_user && (comment.user == current_user || current_user.admin == true) %>
    <%= link_to status_comment_path(@status, comment), method: :delete, class: "dimmed" do %>
      <i class="fa fa-trash-o"></i>
    <% end %>
  <% end %>
</div>
